---
name: Release
on:
  push:
    branches:
      - main
defaults:
  run:
    shell: bash
env:
  GH_TOKEN: ${{ github.token }}
  HEX_API_KEY: ${{ secrets.HEX_GITHUB_TOKEN }}
jobs:
  release:
    uses: nuonco/.github/.github/workflows/release.yml@main
    secrets: inherit
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    needs: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: build
        run: uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
